*{font-family:Arial}
body {
  background-image: url("http://i64.tinypic.com/2s1926x.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}
html,body{
height:100%;
}

*{
margin:10;
  padding:0;
}
#wrapper{
height:100%;
  overflow:hidden;
}
#left {
  width: 160px;
  float:left;
  min-height:100%;
  background-color: rgba( 225, 225, 225, .5);
  padding:20;
}
#right {
  text-align:left;
  width: 160px;
  float:right;
  min-height:100%;
  background-color: rgba( 225, 225, 225, .5);
  padding:20;
}
#main {
  margin-left:240px;
  margin-right:240px;
  min-height:100%;
  background-color: rgba( 225, 225, 225, .5);
  text-align:left;
  padding:20;
 }
