*{font-family:Arial}
body {
  background-image: url("http://i64.tinypic.com/2s1926x.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}
html,body{
height:100%;
}

*{
margin:10;
  padding:0;
}
#wrapper{
height:100%;
  overflow:hidden;
}
#left {
  text-align: center;
  width: 200px;
  float:left;
  min-height:100%;
  background-color: rgba( 225, 225, 225, .5);
  padding:20;
}
#right {
  text-align:center;
  width: 200px;
  float:right;
  min-height:100%;
  background-color: rgba( 225, 225, 225, .5);
  padding:20;
}
#main {
  margin-left:260px;
  margin-right:260px;
  min-height:100%;
  background-color: rgba( 225, 225, 225, .5);
  text-align:left;
  padding:20;
 }
<style>
A:link; {
  text-decoration: none;
  color: blue;
}
A:visited {
  text-decoration: none;
  color: purple;
}
A:hover {
  text-decoration: bold underline;
  color: #000080;
}
</style>