*{font-family:Arial}
body {
  background-image: url("https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xaf1/t31.0-8/s2048x2048/10918954_629279313873789_4102069185947081483_o.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
html,body{
height:100%;
}

*{
margin:10;
  padding:0;
}
#wrapper{
height:100%;
  overflow:hidden;
}
#left {
  width: 160px;
  float:left;
  min-height:100%;
  background-color: rgba( 225, 225, 225, .5);
  padding:20;
}
#right {
  text-align:left;
  width: 160px;
  float:right;
  min-height:100%;
  background-color: rgba( 225, 225, 225, .5);
  padding:20;
}
#main {
  margin-left:240px;
  margin-right:240px;
  min-height:100%;
  background-color: rgba( 225, 225, 225, .5);
  text-align:left;
  padding:20;
 }
